:root {
    --visited-link-color: #003838;
}
html {
    height: 100%;
    width: 100%;
}
body:before {
    content: '';
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 100%;
    left: 0;
    background-color: black;
}
body:after {
    content: '';
    border: 1rem solid black;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    position: fixed;
    top: .0rem;
    left: .0rem;
    pointer-events: none;
}
body {
    background-color: #a69261;
    margin: 0;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Courier New", monospace;
    font-size: 20px;
    overflow: scroll;
}
header li {
    padding: .5rem;
}
body > header ul {
    margin: 2rem 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ul {
}
a {
    text-decoration: none;
}
a[aria-current=page] {
    font-weight: bold;
    text-decoration: underline;
}
a:hover, a:focus {
    font-weight: bold;
    text-decoration: underline;
}
a:link {
    color: black;
}
a:visited {
    color: var(--visited-link-color);
}
main > :is(h1,h2,h3,h4,h5,h6) {
    text-align: center;
}
main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(50ch, 90vw);
}
main > ul {
    text-align: left;
    margin: 0 auto;
    max-width: 35ch;
}
ul ul {
    max-width: 100%;
}
li {
    max-width: 80%;
}
.cover-art-link {
    display: inline-flex;
}
.cover-art-link > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.cover-art-link > figure figcaption {
    width: 30ch;
    padding: 1rem;
}
footer {
    margin: 3rem;
}

body[data-highlight=the-adventures-of] .book-name .the-adventures-of { font-weight: bold; }
body[data-highlight=hemera-nyx] .book-name .hemera-nyx { font-weight: bold; }
body[data-highlight=in] .book-name .in { font-weight: bold; }
body[data-highlight=the-galaxy-of] .book-name .the-galaxy-of { font-weight: bold; }
body[data-highlight=the-future] .book-name .the-future { font-weight: bold; }
body[data-highlight=the-future] .book-name .the-future .future { text-decoration: underline; }
.services .featured {
    background-color: var(--visited-link-color);
    color: white
}
#services .how-to-get-a-signed-copy li > * {
    display: block;
    white-space: nowrap;
}
#services > section {
    width: 100%;
}

#services form label > span {
    width: 20%;
    white-space: break-spaces;
}
#services form label {
    display: flex;
    align-items: center;
    justify-content: normal;
}